//IMPORTS
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&family=Ubuntu&display=swap');
//COLORS

$lGreen: #2F5D62;
$dGreen: #569D93;
$lBlue: #E5FFFA;
$lgrey: #f5f5f5;
$grey: #F0F0F0;
$black: #2d3436;

//FONTS

$fontBeb: "Bebas Neue", Arial, Helvetica, sans-serif;
$fontRoB: "Roboto", Arial, Helvetica, sans-serif;
$fontUbu: "Ubuntu", Arial, Helvetica, sans-serif;
$bigSize: 20px;
$smallSize: 16px;

//GENERAL STYLES

*{
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    padding: 0;

}


//LEFT MENU STYLES

.left-side{
    background: $dGreen;
    height: 110vh;
    color:$lgrey;
}

.title{
    font-family:$fontUbu;
    font-weight: bolder;
    text-shadow: 0 1px 2px $lgrey;
    margin: auto;
}

.left-paragraph{
    font-size: $smallSize;
    font-family: $fontRoB;
}

.item{
    color: $grey;
    text-decoration: none;
    font-weight: bolder;
    font-family: $fontRoB;
    width: 63%;
    margin: auto;
    margin-top: 5%;
    font-size: $bigSize;
}

.item:hover{
    background: $lGreen;
    color: $grey;
    border-radius: 15px;
}

.social-media{
    margin-top: 50vh;
    width: 100%;
}

.RivDom{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-size: 16px;

}

//left menu media query for small devices

@media (max-width: 766px) {
    .left-side{
        height: 30vh;
        font-size: $smallSize;
    }

    .social-media{
        margin-top: 10%;
    }

    .item{
        margin-top:0;
    }
}

//RIGHT MAIN STYLES

.right-side{

    background: white;
    height: 100vh;
    opacity: 0.89;
}

.clients-container{
    width: 85%;
    margin: auto;
    background: $lgrey;
    font-family: $fontRoB;
    box-shadow: 0px 5px 10px $black;
    border: 1px solid lightgrey;
}

.clients-container > span{
    padding: 15px;
    font-weight: bold;
}


//NEW CLENT FORM//@at-root

.client{
    width: 45%;
    margin: auto;
    margin-top: 8%;
    padding: 3%;
    font-family: $fontRoB;
    background: $lgrey;
    color: $black;
    font-weight: bolder;
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-shadow: 0px 5px 10px $black;
}

.add-button{
    background: $dGreen;
    color: $grey;
    font-weight: bolder;
}